@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Expanding Learning Opportunities</h1>
    <p class="text-justify">
        Growing up in a small Turkish village with a one-room schoolhouse, our founder Eren Bali had limited educational opportunities, until his family got a computer. Fueled by his dreams to compete internationally in chess and mathematics, Eren used the internet to access learning resources and connect with people all over the world. With the help of these communities, he earned a silver medal in the International Math Olympiad.
        
    </p>
    <p class="text-justify">
        After online learning changed his life, Eren partnered with co-founders Oktay Caglar and Gagan Biyani toward a common goal: to make quality education more accessible and improve lives through learning.
    </p>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/pic1.jpg">
                    <img src="~/images/pic1.jpg" alt="Pic 1" style="width:100%;height:350px;">
                    <div class="caption">
                        <p>Learning</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/pic2.jpg">
                    <img src="~/images/pic2.jpg" alt="Pic 2" style="width:100%;height:350px;">
                    <div class="caption">
                        <p>Never</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/pic3.jpg">
                    <img src="~/images/pic3.jpg" alt="Pic 3" style="width:100%;height:350px;">
                    <div class="caption">
                        <p>Stops</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

